# Created by https://www.gitignore.io/api/macos
# Edit at https://www.gitignore.io/?templates=macos

### Fabric ###
bin/
config/
crypto-config/
channel-artifacts/
scripts/
!webapp/config/
webapp/identity/user/**/wallet/
webappbank/
webappbuyer/
webappseller/

### Unit Tests ###
find.log

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### nodejs ###
**/node_modules
**/package-lock.json

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/macos
